@{
    ViewData["Title"] = "paginia principal";
}

<div class="text-center">
    <h1 class="display-4"> Bem vindo as troladinhas do kazzio </h1>
    <p> Martim Branco </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">criando aplicativos Web com ASP.NET Core</a>.</p>
</div>
<img src="~/css/elRxCnaZ_400x400.jpg " />
</div>  
</div>


